.search {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-bottom: 2px solid #fff;

    @include onTablet() {
      flex-direction: row;
      justify-content: space-evenly;
  }

  &__field {
    padding-top: 30px;
    font-size: 20px;
    color:#fff;
    width: 100%;
    background-color: inherit;
    border: none;
    
    
    &::placeholder {
      color: rgb(253, 253, 253);
      text-shadow: 3px 3px rgba(50, 50, 50, 0.25);
    }

    &:focus {
      outline: none;
    }
  }
}
