.select {
  display: flex;
  align-self: center;
  margin: 2px;
  order: -1;

  @include onTablet() {
    align-self: end;
    order: 0;
  }

  &__language, &__metric {
    width: 90px;

    color: rgb(0, 126, 148);
    padding: 2px;

    background-color: $whiteColor;
    border: 2px solid rgb(0, 126, 148);
    border-radius: 5px;
  }
}
