.select {
  display: flex;
  align-self: center;
  margin: 2px;
  order: -1;

  @include onTablet() {
    align-self: end;
    order: 0;
  }

  &__language, &__metric {
    margin: 0 2px;
    width: 90px;

    color: rgb(76, 0, 148);
    padding: 2px;

    background-color: $whiteColor;
    border: 1px solid rgb(125, 11, 255);
    border-radius: 5px;
  }
}
