@import "./Styles/utils/vars";
@import "./Styles/utils/mixins";
@import "./Styles/weather.scss";
@import "./Styles/search.scss";
@import "./Styles/error.scss";
@import "./Styles/select.scss";

body {
  background-image: url('./img/photo-1569982175971-d92b01cf8694.jfif');
  background-position: top;

  @include onTablet() {
    background-size: cover;
  }
}

.main {
  margin: 0 10px;

  @include onTablet() {
    margin: 0 30px
  }
}
